@import '../../../../media\ query';

.about-me {
  width: 100%;
  margin-bottom: var(--m-b-s);



  .container {
    display: flex;
    flex-direction: column;

    .info {
      display: flex;
      flex-direction: row;
      gap: 5em;
      color: var(--light-color);
      align-items: center;

      @include breakPoints(mobile) {
        flex-direction: column;
      }

      @include breakPoints(small) {
        gap: 2em;
      }

      .img {
        border: 1px solid gray;
        padding: .5em;
        border-radius: 15px;
        width: 50%;

        @include breakPoints(mobile) {
          width: 100%;
        }

        @include breakPoints(small) {
          height: max-content;
        }

        img {
          border-radius: 15px;
          max-width: 100%;
        }
      }

      .data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1.5em;
        width: 50%;

        @include breakPoints(mobile) {
          width: 100%;
        }

        h2 {
          font-size: 1.8em;
        }

        p {
          line-height: 1.7;
          width: 80%;
          color: gainsboro;
          font-family: var(--title-prg);
          font-size: 1.1em;
          margin-bottom: 2em;

          @include breakPoints(mobile) {
            width: 100%;
          }
        }

        .skills {
          width: 100%;

          .skill {
            margin-bottom: 1.5em;

            .skill-title {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              margin-bottom: 1em;

            }

            .progress-bar {
              width: 100%;
              height: 3px;
              background-color: aliceblue;

              div {
                background-color: var(--main-color);
                height: 3px;
              }
            }
          }
        }

        button {
          border: 1px solid gray;
          color: var(--light-color);
          padding: 0.7em 2em;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          font-family: var(--main-font);
          font-weight: 700;
          font-size: 1em;
          transition: all 0.5s ease-out;
          background-color: var(--main-color);

          @include breakPoints(mobile) {
            width: 100%;
            justify-content: center;
          }

          @include breakPoints(small) {
            width: 100%;
            justify-content: center;
          }

          &:hover {
            background-color: gainsboro;
            color: var(--dark-color);

          }
        }

        spam {
          display: block;
          margin-left: 2em;
        }



      }
    }
  }
}